<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

     <!--  <%= link_to "Create New Item", new_catalog_url if logged_in?(:site_admin) %> -->
      <%= render partial: 'catalog_item', collection: @catalog_items %>
    </div>
  </div>
</div>



