<div class="comment-card">
  <div class="card mt-3">
    <div class="card-block">
      <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-11 p-3" >
          <%= comment.content %>
        </div>
      </div>
    </div>
  </div>
</div>
