<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Krisztina Kovari</h3>
    <nav class="nav nav-masthead ">
      <%= nav_helper 'nav-link mr-3', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>
