<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a> / <%= link_to "View all portfolio items", catalogs_path %>
    </p>
    <p><%= copyright_generator %> </p>
  </div>
</footer>
