<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-muted">Web development is constant learning and always seeking for something new. In my portfolio I share some of the projects I have been working on. I always appreciate constructive feedback.</p>
    <p>
      <%= link_to "Read Blog", blogs_path, class:"btn btn-primary my-2" %>
      <%= link_to "Contact Me", contact_path, class:"btn btn-secondary my-2" %>
    </p>
  </div>
</section>
