<h1>Hi There!</h1>
<p>My name is Krisztina Kovari. I graduated at Le Wagon Amsterdam in 2018 November as a full-stack web developer. During this intensive 9-week bootcamp I learnt HTML, CSS, Bootstrap, Javascript, SQL, git, gitHub, Heroku, and Ruby on Rails. To further develop my skills as a software developer I am ready to take on a full-time job and I am also interested in building unique, responsive websites for individuals and small businesses. </p>
