<h1>About me</h1>

<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "kkovari.jpg", class:"img-fluid", alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>My name is Krisztina Kovari. I used to work in television broadcasting for many years. I specialized in video-on-demand services and worked on the operational side of the business where I interacted closely with clients, engineers and other stakeholders. I was always attracted to the technical aspects of my job and as a supervisor, problem solving was a big part of my daily tasks. </p>
    <p> I started coding as a hobby in 2016 by following a course on udemy and I continued coding on and off since. In 2018 November, I finished a 9-week-long coding bootcamp at Le Wagon and since then I am engaged full-time with web development by building applications and learning new skills. I really enjoy working in Rails, which enables me to create complete applications.
    </p>
    <p>In my free time, I play the bass guitar in a punkrock band called MAYBE NOT, I run and do yoga and take photographs on my hikes.</p>
  </div>
</div>
