<div class="app-card-container">
  <div class="card">
    <h1>About me</h1>

    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "kkovari.jpg", class:"img-fluid", alt: "profile image" %>

         <div class="skills mt-3 mb-3">
          <% @skills.each do |skill| %>
            <h4> <%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-info"
                   role="progressbar"
                   aria-valuenow="<%= skill.percent_utilized %>"
                   aria-valuemax="100"
                   style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          <% end %>
         </div>
      </div>
      <div class="col-md-8 text-left">
        <p>My name is Krisztina Kovari. I used to work in television broadcasting for many years. I specialized in video-on-demand services and worked on the operational side of the business where I interacted closely with clients, engineers and other stakeholders. I was always attracted to the technical aspects of my job and as a supervisor, problem solving was a big part of my daily tasks. </p>
        <p> I started coding as a hobby in 2016 by following a course on udemy and I continued coding on and off since. In 2018 November, I finished a 9-week-long coding bootcamp at Le Wagon and since then I am engaged full-time with web development by building applications and learning new skills. I really enjoy working in Rails, which enables me to create complete applications.
        </p>
        <p>In my free time, I play the bass guitar in a punkrock band called MAYBE NOT, I run, do yoga and take photographs during my hikes.</p>

       <p>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>
           <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body">
              <h3> Web Developer - Freelancer </h3>
              <span> Jan 2018 - to present</span>
              <p> I work full-time on web development projects while I keep expanding my knowledge in software development. My latest completed project is this potfolio. </p> <p> It's built in Ruby on Rails 5.2 and it showcases Rails best practices (helpers, concerns, partials, forms with nested attributes) and a lot of advanced features: Drag&Drop portfolio items, Streaming live data for blog comments, Multiple layouts, Twitter API.</p>

            </div>
            <div class="card card-body">
              <h3> Video On Demand Supervisor - Viacom </h3>
              <span> June 2016 - Jan 2018</span>
              <p> As a VOD supervisor, my role has been diverse at Viacom: I did technical project management when on-boarding new and existing clients, managed internal and external client communication, and I also managed the team. Besides that, I did operational work and contributed to internal projects when it was needed. </p>
              <ul>
                <li>  Increased quantity and quality of content delivery (Amazon, iTunes, Ziggo, Singtel, iFlix etc).</li>
                <li>  Increased content distribution by managing technical on-boarding of clients and by keeping documentation </li>
                <li>  Successfully planned and migrated workflows on system upgrades.</li>
                <li>  Managed artwork production following style guides for global content distribution.</li>
              </ul>
            </div>
             <div class="card card-body">
               <h3> Video On Demand Supervisor - TVT (DMC) </h3>
               <span> Apr 2013 - May 2016</span>
               <ul>
                <li> Contributed to development processes by translating clients’ demands into actionable projects. </li>
                <li>  Conducted error management and troubleshooting (JIRA).  </li>
                <li>  Ensured smooth technical on-boarding of new clients (XSLT creation, testing).</li>
                <li> Analysed trends and made adjustments in business rules based on monthly reports.</li>
              </ul>
            </div>
            <div class="card card-body">
               <h3> Senior Scheduler - TVT (DMC) </h3>
               <span> Feb 2008 – Apr 2013</span>
            </div>
            <div class="card card-body">
               <h3> Scheduler - HBO </h3>
               <span> Jan 2006 - Jan 2008</span>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-body">
               <h3> Full-Stack Web Developer - Le Wagon </h3>
               <span>Sept 2018 - Nov 2018 </span>
               <p> Le Wagon is a product-driven program teaching the core concepts of programming and web development. During the course I practiced building web applications, collaborated within a team of developers and adopted the technical workflows followed by successful startups. </p>
            </div>
            <div class="card card-body">
               <h3> Teacher of Hungarian Language and Literature - Eotvos Lorand University</h3>
               <span> 1996-2001</span>
               <p> I studied to become a teacher in Budapest. Although I never practiced as a teacher, in all my professions I aim to be a clear communicator and I put a lot of emphasis on sharing knowledge. Besides my major, I also studied English and participated in a pioneering program at the time called “Humanities Informatics”.  </p>
            </div>
          </div>
        </p>
        </div>
    </div>
  </div>
</div>
