<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>
    <hr>
    <form id="contactForm" action="https://formspree.io/krystonen@gmail.com" method="POST"/>
    <div class="row row-header--white justify-content-center mb-3">
      <div class="col-sm-6">
        <h2>Contact Me</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="subject" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="form-group">
          <textarea class="form-control" name="message" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
        </div>
        <div class="submit-button text-center">
          <button class=" btn btn-info" id="submit" type="submit">Send message</button>
          <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </form>

  </div>
</div>
