@import "bootstrap";
@import "gritter";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

/*
 * Globals
 */

$brightgreen: #17A2B8;
$white: #FFF;
$grey: #8D8D8D;

/* Links */
// a,
// a:focus,
// a:hover {
//   color: grey;

// }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-shadow: none;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: none !important;
}

a {
  font-weight: 100;
}
/* Custom default button */
.btn-info,
.btn-info:hover,
.btn-info:focus {
  // color: $grey;
  text-shadow: none; /* Prevent inheritance from `body` */
  // background-color: $white;
  border: none;
  outline: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color:$white;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 65em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: $white;
  background-color: transparent;
  border-bottom: .15rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: $brightgreen;
  border-bottom-color: $brightgreen;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: $brightgreen;
  border-bottom-color: $brightgreen;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 400;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Custom Styles
 */

.card-body {
  color: black;
  text-align:left;
}
.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-image:
      image-url('home_bg.png'),  no-repeat;
  background-size: cover;
}

.app-footer {
  color: white;
  font-weight: 100;
}

.tech-news {
 color: black;
 margin: 20px;
}

.tech-news a {
 color: $brightgreen;
 margin: 20px;
}

.tech-news  > .card {
  padding: 30px;
  text-shadow: none !important;
}

.app-card-container {
  color: black;
}

.app-card-container > .card {
  padding: 40px;
}

.app-card-container a {
  color: $brightgreen;
}

.card-body {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card h1, h2, h3, h4 {
  text-shadow: none;
}

